{% extends 'index.html.twig' %}

{% block title %}
	Détails du Film -
	{{ film.title }}
{% endblock %}

{% block stylesheet %}
	<link rel="stylesheet" href="/style/films.css">
{% endblock %}

{% block body %}
	<div class="detailsFilm">
		<h1>Détails du Film :
			<br>
			<a>{{ film.title }}</a>
		</h1>
		<ul>
			<li>
				<strong>ID :</strong>
				{{ film.id }}</li>
			<li>
				<strong>Titre :</strong>
				{{ film.title }}</li>
			<li>
				<strong>Année :</strong>
				{{ film.year }}</li>
			<li>
				<strong>Genre :</strong>
				{{ film.type }}</li>
			<li>
				<strong>Synopsis :</strong>
				{{ film.synopsis }}</li>
			<li>
				<strong>Réalisateur :</strong>
				{{ film.director }}</li>
		</ul>

		<a href="/films" class="btnActions vert">Retour à la liste des films</a>
	</div>
{% endblock %}