<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Liste des films</title>
</head>
<body>
    <h1>Liste des films</h1>

    <ul>
        {% for film in films %}
            <li>
                <strong>{{ film.title }}</strong> ({{ film.year }}) - {{ film.type }}<br>
                {{ film.synopsis }}<br>
                Réalisé par : {{ film.director }}
            </li>
        {% else %}
            <p>Aucun film trouvé.</p>
        {% endfor %}
    </ul>
</body>
</html>
